@import '../../../../../styles.scss';

.register-container {
  width: 400px;
  margin: 50px auto;
  @extend %card-global; // reuse global card styles

  h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  form {
    div {
      margin-bottom: 15px;
      display: flex;
      flex-direction: column;
    }

    label {
      margin-bottom: 5px;
      font-weight: 600;
    }

    input,
    select {
      @extend %input-global; // reuse global input styles
    }

    button {
      @extend %button-global; // reuse global button styles
      margin-top: 10px;
    }

    .error {
      @extend %error-global; // reuse global error styles
      margin-top: -5px;
    }
  }
}
