@import "../../../../../styles.scss";

.register-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh; // full viewport height
  background: $gradient-bg; // optional: use global background
}

.register-container {
  @extend %card-global;
  width: 400px;
  padding: $card-padding;

  h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  form {
    div {
      margin-bottom: 15px;
      display: flex;
      flex-direction: column;
    }

    label {
      margin-bottom: 5px;
      font-weight: 600;
    }

    input,
    select {
      @extend %input-global;
    }

    button {
      @extend %button-global;
      margin-top: 10px;
    }

    .error {
      @extend %error-global;
      margin-top: -5px;
    }
  }

  p.register-link {
    text-align: center;
    margin-top: 10px;

    a {
      color: $primary-color;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
