@import "../../../../../styles.scss";

.checkout-container {
  @extend %container;
  @extend %card-global; // for background, padding, shadow

  h2 {
    text-align: center;
    color: #222;
    margin-bottom: 20px;
  }

  h3 {
    margin-bottom: 10px;
    color: #333;
  }

  table {
    width: 100%;
    border-collapse: collapse;

    th, td {
      padding: 10px;
      border-bottom: 1px solid #eee;
    }

    th {
      background-color: #f8f8f8;
      text-align: left;
    }
  }

  .total {
    text-align: right;
    font-weight: bold;
    margin-top: 10px;
  }

  .info-section {
    margin-top: 30px;

    label {
      display: block;
      margin-top: 10px;
      font-weight: 500;
    }

    input {
      @extend %input-global;
      margin-top: 5px; // optional adjustment
    }

    button {
      @extend %button-global;
      margin-top: 20px;
    }
  }
}
