@import '../../../../../styles.scss';

.home-container {
  @extend %container;
  max-width: 90%;
  margin: 0 auto;
}

.book-list {
  @extend %grid-5-col;
  justify-items: center;
}

.book-item {
  @extend %card-global;
  width: auto;
  max-width: 100%;
}

.filter-bar {
  @extend %flex-row-gap;
  margin: 0 auto;
  justify-content: center;
  margin-bottom: 20px;
  width: 300px;

  input {
    @extend %input-global;
  }

  select {
    @extend %select-global;
  }
}

.pagination {
  margin-top: 20px;
  @extend %pagination;
}

button {
  @extend %button-global;
  width: auto; // override if needed
  padding: 8px 15px;
}

button[disabled] {
  background-color: #aaa !important;
  cursor: not-allowed;
}
