@import '../../../../../styles.scss';

.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.login-container {
  @extend %card-global; // reuse global card style
  width: 320px;

  h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  form {
    div {
      margin-bottom: 15px;
      display: flex;
      flex-direction: column;
    }

    label {
      margin-bottom: 5px;
      font-weight: 600;
    }

    input,
    select {
      @extend %input-global; // reuse global input
    }

    button {
      @extend %button-global; // reuse global button
      margin-top: 10px;
    }

    .error {
      @extend %error-global; // reuse global error
      margin-top: -5px;
    }
  }

  p.register-link {
    text-align: center;
    margin-top: 10px;

    a {
      color: $primary-color;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}