@import "../../../../../styles.scss";

.cart-container {
  @extend %container;

  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;

    th,
    td {
      padding: 10px;
      border-bottom: 1px solid #ddd;
      background-color: #f5f5f5;
      text-align: left;
    }

    th {
      background-color: $primary-color;
      color: #ddd;
    }

    button {
      @extend %button-global;
      width: auto; 
      padding: 5px 10px;
      font-size: 14px;
      background-color: $error-color; 
      &:hover {
        background-color: $error-hover;
      }
    }
  }

  .cart-summary {
    margin-top: 20px;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;

    h3 {
      margin-bottom: 15px;
      font-size: 1.2rem;
      color: #333;
    }

    button {
      @extend %button-global;
      width: auto;
      font-size: 14px;
      font-weight: 500;

      &:first-of-type {
        background-color: $error-color;
        &:hover {
          background-color: $error-hover;
        }
      }

      &:last-of-type {
        background-color: $primary-color;
        &:hover {
          background-color: $primary-hover;
        }
      }
    }
  }
}
